html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: myfont_light;
    src: url(fonts/Comfortaa-Medium.ttf);
}

@font-face {
    font-family: myfont;
    src: url(fonts/Comfortaa-Regular.ttf);
}

nav {
    background-color: rgb(0, 78, 112);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

h1 {
    color: rgb(78, 121, 248);
    font-family: myfont;
}

.h2 {
    font-family: myfont;
    padding-top: 55px;
    color: rgb(0, 78, 112);
}

h3 {
    font-family: myfont;
    font-size: 27px;
    color: rgb(0, 78, 112);
}

#car_div {
    width: 85%;
    margin: 0 auto;
}

#car_div>h2 {
    color: rgb(78, 121, 248);
}

.topnav {
    background-color: rgb(0, 78, 112);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
}

.topnav a {
    display: block;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: myfont_light;
}

.topnav a:hover {
    color: rgb(78, 121, 248);
}

.topnav a.active {
    color: rgb(78, 121, 248);
}

.topnav .icon {
    display: none;
}

.jumbotron {
    background-image: url("images/jumboBg1.jpg");
    background-size: cover;
}

.jumbotron h1 {
    color: rgb(70, 72, 190);
    margin-bottom: 25px;
}

#headline {
    color: white;
}

#jumbo_text {
    max-width: 90%;
    color: white;
    margin: 0 auto;
    font-size: 25px;
    font-weight: 400;
}

#text_responsive {
    width: 100%;
    margin: 0 auto;
    font-size: 25px;
    font-weight: 400;
}

.collapse {
    width: 100%;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

#text_responsive {
    display: none;
}

.btn {
    display: none;
}

#btn1 {
    display: none;
}

#section2 h1 {
    padding-top: 55px;
    padding-bottom: 10px;
}

#section3 h1 {
    padding-top: 55px;
    text-decoration: underline;
}

.div_p p {
    display: none;
    color: rgb(0, 78, 112);
    font-size: 25px;
    animation-name: tapanimation;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.div_p {
    height: 40px;
    font-family: myfont;
}

@keyframes tapanimation {
    from {
        font-size: 90%
    }
    to {
        font-size: 100%
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    padding: 0 4px;
    margin: 0 auto;
}

.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    position: relative;
    vertical-align: middle;
    width: 100%;
    filter: blur(1.5px);
    transition: transform .2s;
}

.column img:hover {
    transform: scale(1.5);
    filter: blur(0);
    z-index: 10;
}

.column_collapse1 {
    display: none;
}

.column_collapse2 {
    display: none;
}

.column_collapse3 {
    display: none;
}

.contact_cont {
    padding-top: 25px;
    padding-bottom: 40px;
}

.contact_p {
    font-size: 30px;
    color: rgb(0, 78, 112);
}

.contact_p a {
    text-decoration: none;
}

.footer_col a {
    text-decoration: none;
}

.col_cont {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer {
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
}